:root {
}

.swiper-button-prev,
.swiper-button-next {
  width: var(--swiper-navigation-size);
  height: var(--swiper-navigation-size);
  border-radius: 50%;
  background-color: #2563eb;
}

.swiper-pagination.swiper-pagination-bullets {
  position: relative;
  bottom: 0;
  top: 0;
}

.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.swiper-pagination.swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
}
